/*-------------------
がんばれCSS！
--------------------*/
body{
    color: #383e45;
    font-size: 0.9rem;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0 auto;
    padding: 0 28;
}

h1 {
    background-color: darkolivegreen;
    color:white;
}

a{
    text-decoration: none;
}

img{
    border-style: none;
}

ul {
    display: flex;
    align-items:center;
    list-style:none;
    padding: 10 0;
}

nav li {
    padding-right: 40px;
}

li a {
    color:#24292e;
}


#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

.wrapper {
    width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

.content{

}